
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//Icon
@import "~font-awesome/css/font-awesome.min.css";
@import "~ionicons/dist/css/ionicons.min.css";

@import "~admin-lte/dist/css/AdminLTE.min.css";
@import "~admin-lte/dist/css/skins/_all-skins.min.css";
@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~toastr/build/toastr.min.css";

@import "~jquery-tags-input/dist/jquery.tagsinput.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

img.image-preview{
    width: 100%;
    height: 235px;
    padding: 10px;
}
#imageUpload{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
